.wapper{
    margin: 0;
}
/* header */
body{
  margin: 0;
}
#myHeader{
  width: 100%;
  height: 180px;
  margin: 0;
  position: relative;
  transition: height 0.5s ease-in-out, position 0.5s ease-in-out;
}
#headerTop{
  width: 100%;
  height: 35px;
  background-color: #271a1b;
  top: 0;
  position: relative;
  color: #5a5c62;
}
.headerTop__list{
  display: flex;
  margin: 0 178px;
  list-style: none;
  justify-content: space-between;
}
.headerTop__list li{
  font-size: 1.4rem;
  margin: 10px 0;
}
.headerTop__list li i{
  margin: 0 8px;
}
.headerTop__list a{
  color: #5a5c62;
}
.headerTop__list a:hover{
  color: orangered;
}
.header__main-content{
  display: flex;
  background-color: #302021;
  position: relative;
}
.header__main-content img{
  width: 90px;
  margin: 0 0 0 160px;
}
.header__content-list{
  width: 100%;
  height: 70px;
  color: #fff;
  display: flex;
  list-style: none;
  margin: 0px 193px 0px 426px;
  padding: 31px 0;
  justify-content: space-between;
}
.header__content-list li{
  font-size: 1.4rem;
}
.icon-zoom{
  transform: scale(1.0) rotate(-30deg);
  animation: zoom-rotate 2s ease-in-out infinite;
}
@keyframes zoom-rotate {
  0% {
    transform: scale(1.0) rotate(0deg);
  }
  25% {
    transform: scale(1.1) rotate(-35deg);
  }
  75% {
    transform: scale(1.1) rotate(-15deg);
  }
  100% {
    transform: scale(1.0) rotate(0deg);
  }
}
.cart__comment{
  width: 270px;
  height: 90px;
  position: absolute;
  background-color: #fff;
  border-radius: 3px;
  z-index: 30;
  color: #5a5c62;
  padding: 30px;
  font-size: 1.6rem;
  display: none;
}
#shopping:hover{
  cursor: pointer;
  color: orangered;
}
#shopping:hover .cart__comment{
  display: block;
}
.cart__comment i{
  position: absolute;
  font-size: 2.8rem;
  top: -14px;
  left: 30px;
  color: #fff;
}
.header__main-nav{
  width: 100%;
  height: 55px;
  background-color: #ffca44;
}
.header__nav-list{
  display: flex;
  list-style: none;
  margin: 0;
  font-size: 1.8rem;
  margin: 0 462px;
  justify-content: space-between;
  padding: 18px 0;
}
.header__nav-list a{
  color: #634629;
}
.header__nav-list a:hover{
  color: orangered;
}
.search{
  position: absolute;
  width: 270px;
  height: 90px;
  background-color: #fff;
  color: #5a5c62;
  right: 166px;
  border-radius: 3px;
  top:80px;
  z-index: 30;
  display: flex;
  display: none;
}
#search__contro:hover .search{
  display: block;
}
.caret-up{
  position: absolute;
  font-size: 2.8rem;
  top: -14px;
  right: 45px;
  color: #fff;
}
.search__input{
  padding: 32px 20px;
}
.search input{
  padding: 3px;
}
.search input:focus{
  outline-color: rgb(247, 109, 58);
    box-shadow: 0 0 20px rgb(247, 109, 58, 0.4);
}
.btn__search{
  padding: 5px;
  background-color: orangered;
  border-radius: 3px;
  color: #fff;
}
.shop__control{
  position: relative;
}
.shop__control:hover .shop__list{
  display: block;
}
.shop__list{
  position: absolute;
  z-index: 100;
  background-color: #fff;
  list-style: none;
  color: #5a5c62;
  padding: 0;
  top: 30px;
  display: none;
}
.shop__caret-up{
  position: absolute;
  font-size: 2.8rem;
  top: -16px;
  left: 45px;
  color: #fff;
  display: none;
}
.shop__list li{
  width: 270px;
  padding: 20px 30px;
}
.shop__list li:hover{
  background-color: rgba(0, 0, 0, 0.1);
}
#myHeader.fixed{
  position: fixed;
  height: 155px;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}
.slide-down {
  animation-name: slideDown;
  animation-duration: 1 s;
}
@keyframes slideDown {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0%);
  }
}
.hidden{
  display: none;
}
/* message */
.message{
    position: fixed;
    z-index: 99;
    top: 210px;
    right: 20px;
}
/* section1 */
.slider {
    position: relative;
    width: 100%;
    height: 500px;
    overflow: hidden;
  }
.slider:hover .slider-toggle{
    display: block;
}
.slider-banners {
    position: absolute;
    top: 0;
    left: 0;
    width: 300%;
    height: 100%;
    display: flex;
    transition: transform 0.5s ease-out;
}
 
  .slider-banner {
    position: relative;
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    padding: 0 145px;
  }

  .slider-banner-text{
    position: absolute;
    color: #fff;
    text-align: left;
    top: 119px;
  }
  .slider-banner-text h1{
    font-size:3.6rem;
  }
  .slider-banner-text p{
    font-size:1.8rem;
    padding-bottom: 25px;
  }
  a:link{
    text-decoration: none;
  }
  .slider-banner-text a{
    color: #fff;
    font-size:2rem;
    padding: 12px;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid #fff;
  }
  .slider-banner-text a:hover{
    background-color: rgba(0, 0, 0, 0.1);
  }
  .slider-banner-form{
    position: relative;
    top: 58px;
    left: 861px;
    width: 310px;
    height: 370px;
    border: 1px solid #888;
    background-color: #fff;
    display: flex;
    flex-direction: column;
  }
  .banner-form-header{
    position: absolute;
    top: -25px;
    width:250px;
    height: 72px;
    background-color: #342425;
    background-image: url(/assets/img/asset\ 28.png);
    margin: 0 30px;
  }
  .banner-form-header p{
    color: #fff;
    font-size:2.8rem;
    text-align: center;
    margin: 22px;
  }
  .slider-banner-form input{
    position: relative;
    width:250px;
    height:30px;
    background-color: #f6f5f3;
    border: 1px solid #eaeae9;
  }
  .slider-banner-form input:focus{
    outline-color: rgb(247, 109, 58);
    box-shadow: 0 0 20px rgb(247, 109, 58, 0.4);
}
  #input__name{
    margin: 71px 30px 0;
  }
  #input__Email{
    margin: 19px 30px 0;
  }
  .slider-banner-form textarea{
    position: relative;
    max-width: 250px;
    height: 122px;
    background-color: #f6f5f3;
    border: 1px solid #eaeae9;
    margin: 19px 30px 0;
  }
  .slider-banner-form textarea:focus{
    outline-color: rgb(247, 109, 58);
    box-shadow: 0 0 20px rgb(247, 109, 58, 0.4);
}
    .slider-banner-form span{
        width: 250px;
        height: 30px;
        background-color:#97b714;
        color: #fff;
        margin: 19px 30px 30px;
        text-align: center;
        font-size:1.8rem;
        padding-top: 5px;
    }
  /* slide1 */
  .slide1 {
    background-image: url(/assets/img/slider-dog-small-bg.jpg);
  }
  .slider-banner-img{
    position: absolute;
    left: 514px;
    top: 46px;
  }
  .slider-banner-img img{
    width: 345px;
  }
  /* slide2 */
  .slide2 {
    background-image: url(/assets/img/slider-dog-bg.jpg);
  }
  .slide2 .slider-banner-img{
    position: absolute;
    left: 391px;
    top: 81px;
  }
  .slide2 .slider-banner-img img{
    width: 555px;
  }
  /* slide3 */
  .slide3 {
    background-image: url(/assets/img/slider-cat-bg.jpg);
  }
  .slide3 .slider-banner-img{
    position: absolute;
    left: 514px;
    top: 23px;
  }
  .slide3 .slider-banner-img img{
    width: 555px;
  }
  .slider-toggle {
    position: absolute;
    display: none;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.1);
    color: white;
    font-size: 24px;
    cursor: pointer;
    transition: opacity 0.2s;
  }
  .slider-toggle:hover {
    background-color: rgba(0, 0, 0, 0.3);
  }
  .slider-toggle-left {
    left: 10px;
  }
  .slider-toggle-right {
    right: 10px;
  }  
/* section2 */
.section2 {
    position: relative;
    height: 530px;
    width: 100%;
    background-color: #fff;
    text-align: center;
}
.section2 h1{
    font-size: 4.2rem;
    color: #4f4a4a;
    margin: 40px 0 20px;
}
.seperate-line{
    color: #4f4a4a;
}
.section2 p {
    font-size: 1.8rem;
    color: #4f4a4a;
    margin: 20px 0;
}
.selection__pet ul{
    list-style: none;
    display: flex;
    justify-content:space-between;
    margin: 0 185px;
}
.selection__pet img{
    height:225px;
    width: 225px;
    object-fit: cover;
    border: 0 solid;
    border-radius: 50%;
    transition: transform 0.5s ease;
}
.selection__pet img:hover{
    transform: scale(1.2);
}
/* section3 */
.section3{
    height: 400px;
    width: 100%;
    background-color: var(--primary-color-2);
    display: flex;

}
.section3 img{
    width: 760px;
    height:400px;
    object-fit: cover;
    object-position: center;
}
.introduce{
    text-align: center;
    margin: 110px auto;
}
.introduce h1{
    font-size:3.2rem;
    color: #4f4a4a;
}
.introduce p{
    font-size:1.6rem;
    color: #4f4a4a;
}
.introduce img{
    height:20px;
    width: 40px;
    object-fit: cover;
}
/* section4 */
.section4{
    height:845px;
    text-align: center;
}
.section4 h1{
    font-size:4.2rem;
    color: #4f4a4a;
    margin-top:100px;
}
.section4 p{
    font-size:1.6rem;
    color: #4f4a4a;
    margin-top: 20px;
}
.img-center{
    margin-top:50px;
}
.we-do{
    display: flex;
    margin: 50px 150px;
}
.we-do-left{
    text-align: right;
}
.we-do-item{
    display: flex;
    margin: 30px;
}
.we-do-text h2{
    font-size:2rem;
    color: #4f4a4a;
}
.we-do-text p{
    font-size: 1.4rem;
}
.we-do-img{
    margin: 30px 20px;
}
.we-do-right{
    text-align: left;
}
/* section5 */
.section5{
    height: 400px;
    width: 100%;
    background-image: url(/assets/img/asset\ 28.png);
    background-color: #97b714;
    text-align: center;
    position: relative;
}
.section5 h1{
    color: #fff;
    font-size:4.6rem;
    margin: 0;
    padding-top:70px;
}
.sliders__comment {
  position: relative;
  width: 1100px;
  height:200px;
  overflow: hidden;
  left: 209px;
  bottom: -18px;
}
.slider__comment {
  display: none;
  width: 100%;
  height:200px;
  text-align: center;
  display: flex;
  flex-direction: column;
  color: #fff;
}
.slider__comment img{
  width: 85px;
  border-radius: 50%;
}
.slider__comment p{
  font-size:1.5rem;
}
.star__separa{
  font-size: 18px;
  color: #d26e4b;
  margin: 8px 0;
}
.active {
  display: block;
}

.dots__comment {
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
}

.dot__comment {
  height: 10px;
  width: 10px;
  margin: 0 5px;
  background-color: #bbb;
  border-radius: 50%;
  cursor: pointer;
  border: 0.5px solid #888;
}

.active, .dot__comment:hover {
  background-color: rgba(0,0,0,0.001);
}

.prev__comment, .next__comment {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
  padding: 10px 15px;
  color: white;
  background-color: rgba(0,0,0,0.1);
  border: none;
  cursor: pointer;
  border-radius: 50%;
}

.prev__comment {
  left: 0;
}

.next__comment {
  right: 0;
}
/* section6 */
.section6{
    height: 625px;
    width: 100%;
    text-align: center;
}
.direction{
    text-align: center;
  }
  .direction button{
    font-family: cursive;
    font-weight: bold;
    background-color: #f6f5f3;
    border:none;
    width:50px;
    height:50px;
    border-radius: 50%;
    transition: 0.5s;
    margin:0 20px;
  }
  .direction button:hover{
    background-color: #888;
  }
  .item__news{
    border-radius: 15px;
    width:380px;
    height:375px;
    background-color: #f6f5f3;
    overflow: hidden;
    transition: 0.5s;
    margin:10px;
    scroll-snap-align: start;
    text-align: left;
  }
  .item__news .img__news{
    background-color: #333;
    display: block;
    width:100%;
    height:210px;
    object-fit: cover;
  }
  .item__news .content{
    display: flex;
    flex-direction: column;
    color: #1c1c1c;
  }
  a:link{
    text-decoration: none;
  }
  .item__news .content span{
    font-size:0.8rem;
    margin: 18px 17px 0;
  }
  .item__news .content h3{
    font-size:2rem;
    margin: 18px 17px 0;
  }
  .item__news .content p{
    font-size:1.6rem;
    margin: 18px 17px 0;
  }
  #list__news{
    display: flex;
    width:max-content;
  }
  #formList__news{
    width:1200px;
    max-width: 100%;
    overflow: auto;
    margin:100px auto 50px;
    scroll-behavior: smooth;
    scroll-snap-type: both;
  }
  #formList__news::-webkit-scrollbar{
    display: none;
  }
/* footer */
.footer-top {
    height: 390px;
    width: 100%;
    background-color: var(--primary-color-1);
}
.footer-top ul{
    text-align: left;
    color: #fff;
    list-style: none;
    display:flex;
    justify-content:space-around;
    font-size: 1.4rem;
    padding: 80px 100px 0;
    margin: 0;
    height: fit-content;
}
.social_network ul{
    padding: 0;
}
.footer-top ol{
    text-align: left;
    list-style: none;
    padding: 0;
}
.footer-top ol li {
    margin-bottom: 10px;
}
.footer-top ol li a{
    text-decoration: none;
    color:#888481
}
.footer-top ol li a:hover{
    color:#fff;
}
.horizontal{
    width: 50px;
    height:3px;
    background-color:#4f4a4a;
}
.footer-top img {
    width:60px;
    height: 60px;
    object-fit: cover;
}
.footer-bottom{
    height:50px;
    width: 100%;
    background-color: #1c0e10;
}
.footer__news-list{
    display:flex;
    flex-direction: column;
}
.news-item{
    display:flex;
}
.news-item:hover{
    cursor: pointer;
}
/* footer-bottom */
.footer-bottom{
    font-size:1.6rem;
    color:#888481;
    text-align: center;
}
.footer-bottom img{
    width:12px;
}
.footer-bottom p{
    margin: 0;
    padding-top: 8px;
}
.footer-bottom p a{
    text-decoration: none;
    color: #888481;
}
.footer-bottom p a:hover{
    color: #fff;
}